html, body {
  background: #000;
  height: 100%;
  width: 100%;
  margin: 0px 0px;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #333;
  -webkit-box-shadow: 3px 3px 5px 6px #333;
  box-shadow:         3px 3px 5px 6px #333;
}

.inner-shadow-100 {
  -moz-box-shadow:    inset 0 0 100px #333;
  -webkit-box-shadow: inset 0 0 100px #333;
  box-shadow:         inset 0 0 100px #333;
}

.main-logo-container {
  height: 100%;
  width:  100%;
  position: relative;
}

.main-logo {
  height: 50%;
  width:  auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}